#main-wrap {
  max-width: 700px;
  height: max-content;
  margin: 0 auto;
  position: relative;
  background-color: rgba(220, 167, 110, 0.429);
  border-radius: 10px;
  border: 5px inset rgb(176, 126, 73);
  padding: 10px;

  text-align: left;
  color:rgb(209, 199, 181);
}

table {
  margin: 0 auto;
  border-spacing: 3px 10px;
  border-radius: 10px;
  background-color: rgba(35, 35, 35, 0.272);
}

thead {
  background-color: rgba(46, 46, 46, 0.577);
  text-align: center;
}

td, th {
  font-size: 0.9rem;
  padding: 5px;
  height: 50px;
}

tr:nth-last-child(2n) {
  background-color: rgba(191, 97, 53, 0.429);
}

table a {
  cursor: pointer;
  color: rgb(173, 166, 153);
  transition: color;
  transition-duration: 0.3s;
}

table a:hover {
  color: rgb(209, 199, 181);
}

table a:visited, table a:link {
  color: rgb(173, 166, 153);
  text-decoration: none;
}

table a:link:hover, table a:visited:hover {
  color: rgb(209, 199, 181);
}