* {
  margin: 0;
  cursor: default;
  font-family: 'Jua', sans-serif;
}

.hidden {
  visibility: hidden;
  opacity: 0%;
}

body {
  /* height: 100vh; */

  /* background-color: black; */
  background-image: url("../src/wood.png");
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

header, footer {
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;

  border-style: outset;
  border: 4px outset #F2E2C4;
  border-radius: 10px;

  margin: 20px auto;

  color: white;
  /* background-color: #0d0d0d; */
  background-image: url("../src/leather.png");
  background-size: 100%;
  box-shadow: 0px 0px 10px #e17b37;
}

header {
  height: 50px;
  max-width: 700px;

  /* border: 1px solid red; */

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#title {
  font-weight: 300;
}

footer {
  height: 100px;
  max-width: 700px;
  padding: 30px;
  font-size: 0.8rem;
}

footer:nth-child(2) {
  position: relative;
  right: 10px;
}

a {
  cursor: pointer;
  color: gray;
}

a:hover {
  color: white;
}

a:visited, a:link {
  color: grey;
  text-decoration: none;
}

a:link:hover, a:visited:hover {
  color: white;
}

main {
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

img {
  width: 100%;
  
}

#map-wrap {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  background-color: rgba(220, 167, 110, 0.429);
  border-radius: 10px;
  border: 5px inset rgb(176, 126, 73);
}

#dots>div>span {
  position: absolute;
  width: 20px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#dots>div>span:hover{
  z-index: 1;
}

.dot {
  cursor: pointer;
  font-size: 2vw;
  transition: font-size;
  transition-duration: 0.3s;
}

@media (min-width: 700px){
  .dot {
    font-size: 0.8rem;
  }
}

.dot:hover {
  font-size: 1rem;
  z-index: 1;
}

.simpleInfo {
  width: max-content;
  /* position: absolute; */

  background-color: antiquewhite;

  padding: 1px 10px;
  /* margin: 0 auto; */
  border: 1px solid black;
  border-radius: 10px;
  
  font-size: 15px;
  font-weight: 250;
  /* visibility: hidden; */
  transition: opacity visibility;
  transition-duration: 0.5s;
}

#buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}

#buttons button:nth-child(1) {
  background-color: darkred;
}

#buttons button:nth-child(2) {
  background-color: darkgreen;
}

#buttons button:nth-child(1):hover {
  background-color:brown;
}

#buttons button:nth-child(2):hover {
  background-color:green;
}

#buttons button {
  border-radius: 10px;
  color:lavender;
  padding: 7px;
}

#buttons button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}